:root {
    --surface-400: hsl(210 25% 18%);
    --text-100:  hsl(210 25% 96%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    background: var(--surface-400);
    color:var(--text-100);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: hsl(210 20% 15%);
    padding: 1rem;
    border-radius: 4px;
}
.form__group {
    position: relative;
}
.form-input {
    inline-size: 100%;
    background:hsl(210 25% 18%);
    color: inherit;
    font-size: 16px;
    outline: none;
    border: .5px solid hsl(210 15% 60%);
    border-radius: 2px;
    padding: .8rem .4rem;
}
.form-input:focus {
    border-color: hsl(210 15% 85%);
}
.form__group span {
    position: absolute;
    top: 0;
    padding: 1rem .4rem;
    font-size: 13px;;
    text-transform: uppercase;
    
}