:root {
    --surface-400: hsl(210 25% 18%);
    --surface-300: hsl(210 20% 15%);
    --text-100:  hsl(210 25% 96%);
    --form-valid: aqua;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    background: var(--surface-400);
    color:var(--text-100);
    font-family: sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--surface-300);
    padding: 6rem 2rem;
    border-radius: 4px;
}
.form__group {
    position: relative;
}
.form-input {
    inline-size: 100%;
    background: var(--surface-400);
    color: inherit;
    font-size: 16px;
    outline: none;
    border: .5px solid hsl(210 2% 40%);
    border-radius: 2px;
    padding: .8rem .4rem;
}
.form-input:focus {
}
.form__group span {
    position: absolute;
    top: 0;
    padding: 1rem .4rem;
    font-size: 13px;;
    color: hsl(210 2% 40%);;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 50ms ease;
}
.form-input:valid ~ span,
.form-input:focus ~ span {
    transform: translateX(10px) translateY(-5px);
    background: var(--surface-400);
    color: var(--form-valid);
    font-size: .5rem;
    letter-spacing: .125rem;
    padding: .2rem .4rem;
}
.form-input:valid,
.form-input:focus{
    border-color: var(--form-valid);
}
.form button {
    background: var(--surface-400);
    border: none;
    padding: .4rem;
    color: inherit;
    cursor: pointer;
    border-radius: 2px;
    transition: background 25ms ease;
}
.form button:hover {
    background: hsl(210 15% 30%);
}
.form button:active {
    transform: scale(1.025);
    /* color: var(--form-valid); */
}